
<header>
	<div id="header-content"> 
    	<h1 class="page-title">Blog</h1>
    	<div id="why"><!-- if anyone can fix this, they get their name in the footer of every website who uses this theme -->
		    <a class="b2b-container" href="/blog.html">
		    	<div class="b2b-icon-container">
                	<img src="/assets/images/blog-icon.png">
               	</div>
				<div class="b2-blog">
	            	<small>
                    	Back to Blog
                    </small>
	            </div>
		    </a>
		</div>
    </div>
</header>
