<header>
	<div id="header-content"> 
    	<h1 class="page-title">Blog</h1>
    	<div id="quick-links"> <!-- quick links -->
		    <a class="ql-container" href="/blog.html">
	            <div class="ql-icon-container">
                    <img src="/assets/images/blog-icon.png">
	            </div> <!-- end ql-icon-container -->
	            <div class="ql-text">
	            	<small>
                    	Back to Blog
                    </small>
	            </div> <!-- end ql-text -->
		    </a>
		</div>
    </div>
</header>
