<header>
	<div id="header-content"> <!-- center div in middle, and allow text to remain above quick links 60% height of viewport -->
		<div> <!-- text -->
			<h1 class="page-title">{{ page.title }}</h1>
			<h2 class="page-summary">{{ page.summary }}</h2>
		</div>
		<div id="quick-links"> <!-- quick links -->
			<div class="ql-container">
				<div class="ql-icon">
					{{ page.ql-1-image | default: "<img src='/assets/images/about-icon.png'>" }}
				</div>
				<a class="quick-link">
					{{ page.ql-1-display | default: "About" }}
				</a>
			</div> <!-- end ql-container -->
			<div class="ql-container">
				<div class="ql-icon">
					{{ page.ql-2-image | default: "<img src='/assets/images/posts-icon.png'>" }}
				</div>
				<a class="quick-link">
					{{ page.ql-2-display | default: "Posts" }}
				</a>
			</div> <!-- end ql-container -->
			<div class="ql-container">
				<div class="ql-icon">
					{{ page.ql-3-image | default: "<img src='/assets/images/github-logo.png'>" }}
				</div>
				<a class="quick-link">
					{{ page.ql-3-display | default: "GitHub" }}
				</a>
			</div> <!-- end ql-container -->
		</div>
	</div>
</header>
