<!--
<nav>
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}">
      {{ item.name }}
    </a>
  {% endfor %}
</nav>
-->
<!--
<nav>
	{%- if site.data.navigation -%}
		{%- for item in site.data.navigation -%}
			<a class="ql-container" href="{{ item.link }}">
				{%- if item.image -%}
	                <div class="ql-icon-container">
    	                <img src="{{ item.image }}">
        	        </div>
       	        {%- endif -%}
               	<div class="ql-text">
	       	        {%- if item.name -%}
                    	{{ item.name }}
	                {%- else %}
	                	{{ item.link }}
                	{%- endif -%}
               	</div>
            </a>
		{%- endfor -%}
	{%- endif -%}
</nav>
-->
<script>
	/* Set the width of the side navigation to 250px */
	function openNav() {
		document.getElementById("sideNav").style.width = "200px";
	}
	
	/* Set the width of the side navigation to 0 */
	function closeNav() {
		document.getElementById("sideNav").style.width = "0";
	} 
</script>
<nav>
	<div id="sideNav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="/assets/images/cross.png"></a>
		{%- if site.data.navigation -%}
			{%- for item in site.data.navigation -%}
				<a href="{{ item.link }}">
	               	<div>
		       	        {%- if item.name -%}
	                    	{{ item.name }}
		                {%- else %}
		                	{{ item.link }}
	                	{%- endif -%}
	               	</div>
	            </a>
			{%- endfor -%}
		{%- endif -%}
	</div>
	<span onclick="openNav()" style="cursor:pointer">open</span>
</nav>
