<script>
	/* Set the width of the side navigation to 250px */
	function openNav() {
		document.getElementById("sideNav").style.width = "200px";
	}
	
	/* Set the width of the side navigation to 0 */
	function closeNav() {
		document.getElementById("sideNav").style.width = "0";
	} 
</script>
<nav>
	<div id="sideNav" class="sidenav">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img src="/assets/images/cross.png"></a>
		{%- if site.data.navigation -%}
			{%- for item in site.data.navigation -%}
				<a href="{{ item.link }}">
	               	<div>
	               		{%- if item.icon -%}
	               			<img src="{{ item.icon }}" class="nav-links-icon">
	               		{%- endif -%}
	               	</div>
	       	        {%- if item.name -%}
                    	{{ item.name }}
	                {%- else %}
	                	{{ item.link }}
                	{%- endif -%}
	            </a>
			{%- endfor -%}
		{%- endif -%}
	</div>
	<span onclick="openNav()" id="open-nav">Navigation</span>
</nav>
