<script>
    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("nav").style.width = "200px";
        document.getElementById("nav__openbtn").style.right = "-100px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("nav").style.width = "0";
        document.getElementById("nav__openbtn").style.right = "7px";
    }
</script>
<nav id="nav"> <!-- this has the ID nav because I do not think there is another way to get the JavaScript working. This is because there is no function to grab a tag, and apply a style to it, in the same way that getElementById() does. Otherwise, the ID does literally nothing, as all the formatting is applied to the nav tag itself -->
    <a href="javascript:void(0)" id="nav__closebtn" onclick="closeNav()"><img src="/assets/images/cross.png"></a>
    {%- if site.data.navigation -%}
        {%- for item in site.data.navigation -%}
            <a class="nav__links" href="{{ item.link }}">
                <div style="width: 24px;"> <!-- even spacing -->
                    {%- if item.icon -%}
                        <img src="{{ item.icon }}" class="nav__links__icon">
                    {%- endif -%}
                </div>
                {%- if item.name -%}
                    {{ item.name }}
                {%- else %}
                    {{ item.link }}
                {%- endif -%}
                <div style="width: 24px;"> <!-- even spacing --> </div>
            </a>
        {%- endfor -%}
    {%- endif -%}
</nav>
<span onclick="openNav()" id="nav__openbtn">Navigation</span>
