@use "sass:math";

/**//* CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/ *//**/
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Allow percentage-based heights in the application */
html, body {
  height: 100%;
}
/* Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/**//* Colours *//**/
$primary-colour: #c7bc87;			// Light Gold
$background-colour: #171717;		// Dark Gray

/**//* Templates *//**/
@mixin display {
	font-family: 'Chivo Mono', monospace;
	color: $primary-colour;
}

@mixin content {
	font-family: 'Titillium Web', sans-serif;
	color: white;
}

/**//* Fonts *//**/
/* Display */
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Content */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

p {
	@include content;
	font-size:  0.8rem;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
}

h2 {
	font-size: 1.4rem;
	font-weight: 400;
}

h3 {
	font-size: 1.2rem;
	font-weight: 200;
}

h4 {
	font-size: 3rem * 0.55;
}

h5 {
	font-size: 4rem * 0.4;
}

h6 {
	font-size: 4rem * 0.25;
}

h1, h2, h3, h4, h5, h6 {
	@include display;
}

/**//* Base Formatting *//**/
html {
	@include content;
	background-color: $background-colour;
}
