@use "sass:math";

/* CSS Reset - https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Allow percentage-based heights in the application */
html, body {
  height: 100%;
}
/* Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/* 7. Remove built-in form typography styles */
input, button, textarea, select {
  font: inherit;
}
/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/* 9. Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/* Colours */
$primary-colour: #c7bc87;			// Light Gold
$background-colour: #171717;		// Dark Gray

/* Templates */
@mixin display {
	font-family: 'Chivo Mono', monospace;
	color: $primary-colour;
}

@mixin content {
	font-family: 'Titillium Web', sans-serif;
	color: white;
}

/* Fonts */
/* Display */
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Content */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Symbols */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

p {
	@include content;
	font-size:  0.8rem;
}

h1 {
	font-size: 3rem;
	font-weight: 700;
}

h2 {
	font-size: 1.4rem;
	font-weight: 400;
}

h3 {
	font-size: 1.2rem;
	font-weight: 200;
}

h4 {
	font-size: 3rem * 0.55;
}

h5 {
	font-size: 4rem * 0.4;
}

h6 {
	font-size: 4rem * 0.25;
}

h1, h2, h3, h4, h5, h6 {
	@include display;
}

a, a:hover, a:active, a:visited {
	color: white;
	text-decoration: none;
}

/* _include file formatting */
/* header-home.html */
.home {
	header {
		display: block;
		height: 70vh;
		width: 100%;
		text-align: center;
		/* parallax effect in background */
		background-image: url("/assets/images/dusk-gray.jpg");
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-position: center;
		background-size: cover;

		/* center content in header */
		position: relative;
	}

	#header-content {
		display: inline-flex;
		flex-direction: column;
		width: 50%;
		
		backdrop-filter: blur(10px);
		background-color: rgba(0, 0, 0, 0.2);
		box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.2);
		
		/* center content in header */
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	#quick-links {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.ql-container {
		display: inline-flex;
		justify-content: center;
		margin: 0;
		padding: 0;
		width: calc(100% / 3);
		
		border: 1px solid rgba(255, 255, 255, 0.2);
		margin: 1%;
		border-radius: 4px;
	}

	.ql-container:hover {
		background-color: rgba(199, 188, 135, 0.2)
	}

	.ql-icon-container {
		position: relative;
		height: 100%;
		aspect-ratio: 1/1;

		img {
			padding: 15%;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}

	.ql-icon-container:before {
		content: "";
		display: block;
		padding-left: 100%;
	}

	.ql-text {
		display: inline-block;
	}
}

/* symbols font config. This is here because I'm assuming that I will only use this here. :clueless: */
.material-symbols-outlined {
	font-variation-settings:
	'FILL' 1,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48;
}

/* Base Formatting */
html {
	@include content;
	background-color: $background-colour;
}
