/* _include file formatting */
/* header-home.html */
.home { /* this is to make sure that this code only affects the header-home.html file, and none of the other headers. */
    header {
        display: block;
        height: 70vh;
        width: 100%;
        text-align: center;
        /* parallax effect in background */
        background-image: url("/assets/images/dusk-gray.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;

        /* center content in header */
        position: relative;
    }

    #header-content {
        display: inline-flex;
        flex-direction: column;
        width: 50%;
        /* center content in header */
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* ql formatting for home page only */
	#quick-links {
	    justify-content: space-evenly;
	}
    
    .ql-container {
        width: calc(100% / 3);
        margin: 1%;
    }
}
#quick-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.ql-container {
    display: inline-flex;
    justify-content: center;
    width: 120px;
    margin: 0;
    padding: 0;

    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
}

.ql-container:hover {
    background: rgba(199, 188, 135, 0.2) url(/assets/images/noise.png);
}

.ql-icon-container {
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;

    img {
        padding: 15%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.ql-icon-container:before {
    content: "";
    display: block;
    padding-left: 100%;
}

.ql-text {
    display: inline-block;
}


/* header-default.html */
header {
	display: block;
	height: 50vh;
	width: 100%;

	/* parallax effect in background */
	background-image: url("/assets/images/dusk-gray.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

    /* center content in header */
    position: relative;
}

#header-content {
	display: block;
	width: 80vw;
    /* center content in header */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sidenav {
	height: 100%;
	width: 0; /* changed with JavaScript */
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	overflow-x: hidden;
	transition: 0.5s; /* for animation */

	text-align: center;
	/* debug */
	background-color: rgba(0, 0, 0, 0.6);

	a {
		padding: 8px;
		display: block;
		transition: 0.3s;
		height: 40px;
	}

	.closebtn {
		position: absolute;
		top: 0;
		left: 0;
		width: 40px;
	}

	a:hover, .closebtn:hover {
		background: rgba(199, 188, 135, 0.2) url(/assets/images/noise.png);
	}
}
